:root {
    --font: sans-serif;

    --text-color: rgba(59, 44, 30);
    --button-bg: rgba(229, 225, 213);
    --hero-text-color: white;
    --section-line: rgba(0, 0, 0, 0.08);

    --page-bg :rgba(229, 225, 213);
    --section-alt-bg: rgb(204, 198, 184);

    --section-padding-y: 48px;
    --section-padding-x: 20px;

    --button-padding-y: 12px;
    --button-padding-x: 20px;

    --radius: 8px;

    --hero-overlay: rgba(0, 0, 0, 0.1);

    --gallery-columns: 2;
    --gallery-gap: 1px;

    --map-height: 300px;
}

/* CSS Lightbox Test */

.lightbox {
    position: fixed;
    inset: 0;
    z-index: 1000;

    display: none;
    align-items: center;
    justify-content: center;
}

.lightbox:target {
    display: flex;
}

.lightbox-background {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.85);
}

.lightbox-content {
    position: relative;
    z-index: 1;

    max-width: 90vw;
    max-height: 90vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.lightbox-content img {
    max-width: 90vw;
    max-height: 80vh;
    object-fit: contain;
}

.lightbox-content p {
    color: white;
}

.lightbox-close {
    position: absolute;
    top: -2rem;
    right: 0;

    color: white;
    font-size: 2rem;
    text-decoration: none;
}

/* css lightbox end */


* {
    box-sizing: border-box;
    
}

header {
    padding: 1em 0;
    background-color: rgba(59, 44, 30);
    
}

.logo {
    max-height: 150px;
    max-width: 150px;
    width: auto;
    height: auto;
    object-fit: contain;
    /* background-color: rgba(59, 44, 30); */
    border-radius: 20px;
}

body {
    margin: 0;
    font-family: var(--font);
    line-height: 1.5;
    text-align: center;
    color: var(--text-color);
    background: var(--page-bg);
}

section {
    padding:
        var(--section-padding-y)
        var(--section-padding-x);
    
    /* border-bottom: 2px solid var(--section-line); */
    background: transparent;

}

section:nth-of-type(even) {
    background: var(--section-alt-bg);
}

h1,
h2,
p {
    margin-top: 0;
}

a {
    color: inherit;
}

.button {
    display: inline-block;

    padding:
        var(--button-padding-y)
        var(--button-padding-x);

    background: var(--button-bg);
    color: var(--text-color);

    text-decoration: none;
    border-radius: var(--radius);
    font-weight: bold;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 8px;
}

#hero {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

.hero-background {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;
    z-index: -1;
}

#hero::before {
    content: "";
    position: absolute;
    inset: 0;

    background: var(--hero-overlay);

    pointer-events: none;
    z-index: 0;
}

.hero-content {
    position: relative;
    z-index: 1;
    color: var(--hero-text-color);
}

.about {
    margin-top: 40px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(var(--gallery-columns), 1fr);

    width: 100vw;
    margin-left: calc(50% - 50vw);

    gap: var(--gallery-gap);
}

.gallery figure {
    margin: 5px;
}

.gallery img {
    width: 100%;
    aspect-ratio: 1 / 1;

    object-fit: cover;
    display: block;

    border-radius: var(--radius);
}

figcaption {
    padding: 8px;
}

address {
    font-style: normal;
    margin-bottom: 20px;
}

address a {
    white-space: pre-line;
}

.map {
    width: 100%;
    margin-top: 24px;
}

.map iframe {
    width: 100%;
    height: var(--map-height);
    border: 0;
}


/* Hide Scroll Bar */
html {
    scrollbar-width: none; /* Firefox */
}

body {
    -ms-overflow-style: none; /* old Edge / IE */
}

body::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

