    <header>
        <img src="/images/logo.svg" alt="Logo Candi Tirto">

        {{/*  this is the header, we will fit in some links in this links include: menu, address, contact and reservation, gallery.  */}}

        <nav>
            <a href="#menu">Menu</a>
            <a href="#contact">Kontak</a>
            <a href="#suasana">Galeri</a>
            <a href="https://wa.me/6282261618110?text=Halo%2C%20saya%20ingin%20melakukan%20reservasi." target="_blank" rel="noopener">Reservasi</a>
        </nav>

    </header>