<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ $style := resources.Get "css/main.css" }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    <title>{{ .Site.Title }}</title>
</head>

<body>
    {{ partial "header.html" . }}

    <section id="hero"> 
        <img
            class="hero-background"
            src="{{.Site.Data.home.hero_image}}"
            alt=""

        >
        <div style="background: rgba(255,255,255,0.3); border-radius: var(--radius);">
            <h1> Candi Tirto Raharjo </h1>
            <h2>{{.Site.Data.home.hero_subtitle}}</h2>
        </div>
        <div class="hero-buttons">
            <a href="#menu" class="button">Menu</a>

            {{ partial "whatsapp-link.html" (dict
                "number" .Site.Data.home.whatsapp
                "message" .Site.Data.home.whatsapp_message
                "label" "Reservasi"
                "class" "button"
            ) }}

            <a
                href="{{ .Site.Data.home.maps_url }}"
                target="_blank"
                rel="noopener"
                class="button"
            >
                Lokasi
            </a>
        </div>

        
        
    </section>

    <section id="about">
        <p>{{.Site.Data.home.about_id}}</p>
        <hr>
        <p>{{.Site.Data.home.about_en}}</p>
    </section>



    <section id="menu">
        <h2>Menu</h2>
        <p>{{ .Site.Data.home.menu_description }}</p>
        <a href="{{ .Site.Data.home.menu_pdf }}" target="_blank" rel="noopener" class="button">
        Buku Menu
        </a>
<div class="gallery">
    {{ range $index, $image := .Site.Data.home.menu_images }}

        <figure>
            <a href="#menu-lightbox-{{ $index }}">
                <img src="{{ $image }}" alt="{{ path.Base $image }}">
            </a>
        </figure>

        <div id="menu-lightbox-{{ $index }}" class="lightbox">
            <a href="#menu" class="lightbox-background"></a>

            <div class="lightbox-content">
                <img src="{{ $image }}" alt="{{ path.Base $image }}">

                <a href="#menu" class="lightbox-close">×</a>
            </div>
        </div>

    {{ end }}
</div>
    </section>

    <section id="event">
        <h2> Event </h2>
        <p>adakan Event Bersama teman kerabat keluarga</p>
        {{ partial "whatsapp-link.html" (dict
            "number" .Site.Data.home.whatsapp
            "message" .Site.Data.home.whatsapp_message
            "label" "Reservasi"
            "class" "button"
        ) }}
        {{/*  <div class="gallery">
            {{ range .Site.Data.home.gallery }}
                <figure>
                    <img src="{{ .image }}" alt="{{ .caption }}">
                    <figcaption>{{ .caption }}</figcaption>
                </figure>
            {{ end }}
        </div>  */}}
            <div class="gallery">
            {{ range $index, $item := .Site.Data.home.gallery }}
                <figure>
                    <a href="#lightbox-{{ $index }}">
                        <img src="{{ $item.image }}" alt="{{ $item.caption }}">
                    </a>

                    <figcaption>{{ $item.caption }}</figcaption>
                </figure>

                <div id="lightbox-{{ $index }}" class="lightbox">
                    <a href="#event" class="lightbox-background"></a>

                    <div class="lightbox-content">
                        <img src="{{ $item.image }}" alt="{{ $item.caption }}">
                        <p>{{ $item.caption }}</p>
                        <a href="#event" class="lightbox-close">×</a>
                    </div>
            </div>
    {{ end }}
</div>
</section>
    <section id="contact">
        <h2>Visit & Contact</h2>
        <address>
            <a
                href="{{ .Site.Data.home.maps_url }}"
                target="_blank"
                rel="noopener"
            >
                {{ .Site.Data.home.address }}
            </a>
        </address>

        <a href="{{ .Site.Data.home.instagram_url }}" target="_blank" class="button">Instagram</a>

        <div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3952.5028014901354!2d110.33461887592527!3d-7.842325777925576!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7a562c72dd6ba3%3A0xa269a541caa4b3db!2sCandi%20Tirto%20Raharjo!5e0!3m2!1sen!2sid!4v1789222376734!5m2!1sen!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="strict-origin-when-cross-origin"></iframe></div>
    </section>


    {{ partial "footer.html" . }}
</body>
</html>